
  *{font-family: 'Oswald', sans-serif;}
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script:wght@500&family=Nunito:wght@200&family=Oswald:wght@200;300;400&family=Phudu&family=Smokum&family=Tilt+Prism&display=swap');

h1{
  color: aliceblue;
  padding-top: 50px;

  
}
.c{
  color: rgb(121, 122, 86);
}

